.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    width: 26.5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.second{
    align-self: center;
    justify-content: center;
    border-radius: 10rem 10rem 0rem 0rem;
    margin-top: 5vh;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    width: 95vw;
    margin-bottom: 5vh;
}

.button{

    size: 2rem;
}

.main{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .button{
        size: sm;
    }

    .tabs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-self: center;
        align-self: center;
        width: 100vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .second{
        align-self: center;
        justify-content: center;
        border-radius: 10px;
        margin-top: 5vh;
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(12, 12, 12);
        width: 95vw;
        margin-bottom: 5vh;
    
    }
}

